/* Reset some default styles */
body, p {
    margin: 0;
    padding: 0;
}

/* Base styles for the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    max-width: 80%; /* Adjust container width */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1, h2 {
    text-align: center;
    color: #007BFF; /* Blue color for headings */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /* Make labels bold */
}

select,
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-weight: bold; /* Make result text bold */
    color: #007BFF; /* Blue color for result text */
}

/* Responsive design for smaller screens */
@media screen and (max-width: 600px) {
    /* Adjust padding for smaller screens */
    .container {
        padding: 10px;
    }

    /* Increase heading size for better readability on small screens */
    h2 {
        font-size: 24px;
    }

    /* Make buttons full width on small screens */
    button {
        width: 100%;
    }
}

/* Additional styles specific to the calculator steps */
.steps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    max-width: 80%; /* Adjust container width */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,
