body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    max-width: 90%; /* Responsive container width */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center; /* Center the container content */
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    text-align: left; /* Left-align form elements */
}

label {
    display: block;
    margin-bottom: 5px;
}

select,
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    text-align: center;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px; /* Reduce padding for smaller screens */
    }

    h2 {
        font-size: 24px; /* Increase heading size for better readability */
    }

    button {
        width: 100%; /* Make buttons full width on small screens */
    }
}
