/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base styles for the entire page */
html, body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f2f2f2;
}

.container {
    position: relative; /* added for positioning the language selector */
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #3498db;
}

.step {
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
}

.step:not(#step1) {
    display: none;
}

.step:last-child {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: 600;
    display: inline-block;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #666;
}

button {
    display: inline-block;
    background-color: #3498db;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

button:nth-of-type(2) {
    margin-left: 10px;
}

#result {
    font-size: 22px;
    font-weight: 700;
    color: #2ecc71;
    padding-top: 20px;
}

/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base styles for the entire page */
html, body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f2f2f2;
}

.container {
    position: relative; /* added for positioning the language selector */
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #3498db;
}

.step {
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
}

.step:not(#step1) {
    display: none;
}

.step:last-child {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: 600;
    display: inline-block;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #666;
}

button {
    display: inline-block;
    background-color: #3498db;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

button:nth-of-type(2) {
    margin-left: 10px;
}

#result {
    font-size: 22px;
    font-weight: 700;
    color: #2ecc71;
    padding-top: 20px;
}

#lang {
    position: absolute;
    top: 30px; /* Adjust this to whatever suits your needs */
    right: 20px;
    width: 90px; /* Set a fixed width */
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

#lang:hover {
    background-color: #ddd;
}


/* Media Query for Desktop */
@media screen and (min-width: 1024px) {
    .container {
        margin-top: 50px;
    }

    .step {
        margin: 20px auto;
    }
}


/* Media Query for Desktop */
@media screen and (min-width: 1024px) {
    .container {
        margin-top: 50px;
    }

    .step {
        margin: 20px auto;
    }
}

/* About Us Section */
#about {
    text-align: center;
}

/* Space above the Start Button */
#startButton {
    margin-top: 20px;
}
